.body-room{

}
.room-navbar{
  padding: 0.5em 1em 0.5em 1em;
  background:  linear-gradient(to bottom, #4c4a47 1%, #353531 100%);
}
.search-box{
  width: 50%;
  display: inline-block;
}
.room-settings{
  text-align: right;
  display: inline-block;
  width: 50%;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.form-control:focus{
  box-shadow: 0 0 0 0.05rem rgba(101, 101, 105, 0.81);
}
.text-light{
  padding: 0 1em 0 1em;
}
.room-icon{
  width: 1.5em;
}
.video-chat-box{
  width: 100%;
  background-image: url('../lobby/images/fon3.jpg');
  padding: 0.5em 1em 0.5em 1em;
}
.video-box{
  width: 50%;
}
.chat-box{
  width: 50%;
}
